<%= form_for @subscriber do |f| %>
    <div class='totheleft'>
        <%= f.label :email, "Email:", :required => true, class: "labelSignup" %>
        <%= f.text_field :email, placeholder: "Email*" %>
        <br>
        <br>
        <%= f.label :first_name, "First name:", :required => true, class: "labelSignup"  %>
        <%= f.text_field :first_name, placeholder: "First name*" %>
        <br>
        <br>
        <%= f.label :last_name, "Last name:", :required => true, class: "labelSignup" %>
        <%= f.text_field :last_name, placeholder: "Last name*" %>
        

        <div class="subscription-field" style="visibility: hidden;">
            <%= f.label :subscription, "Subscription:", :required => true %>
            <%= f.hidden_field :subscription, value: "Daily Deal, Save Your World Pack, Choose Your Character Pack"  %>
        </div>
    </div>

    <figure>
    <img src="assets/dailydealnews" alt="daily deal">
    <h3>Recieve daily deals</h3>
    <div class='selector'><div class='subselector dailydeal'>Unselect this newsletter</div> <div class='subselector dailydealMinus'>&#10003;</div></div>
</figure>
<hr>
<figure>
    <img src="assets/saveyourworldnews" alt="save your world">
    <h3>Receive ‘Save your world’ Pack with different games</h3>
    <div class='selector'><div class='subselector saveworld'>Unselect this newsletter</div> <div class='subselector saveworldMinus'>&#10003;</div></div>
</figure>
<hr>
<figure>
    <img src="assets/choosecharactersnews" alt="choose your characters">
    <h3>Receive pack with different characters</h3>
    <div class='selector'><div class='subselector choosechar'>Unselect this newsletter</div> <div class='subselector choosecharMinus'>&#10003;</div></div>
</figure>
<hr>
    <%= f.label :frequency, "Frequency:", :required => true, class: "labelSignup"  %>

  <label class='frequency'>
    <%= f.radio_button :frequency, 'Weekly', :checked => true %>
    <span class='frequency'>&nbsp receive newsletter weekly</span>
  </label>
  <br>
  <label class='frequency'>
    <%= f.radio_button :frequency, 'Monthly' %>
    <span class='frequency'>&nbsp receive newsletter monthly</span>
  </label>






    <%= f.submit "Subscribe", :class=>"btnSubscribe"%>

<% end %>