<!DOCTYPE html>
<html>
  <head>
    <title>VirtuallyYours</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <div class="topnav">
          <% if @current_admin.present? %>
                    <button class='btnLogin'><%= link_to "logout", login_path, :method => 'delete' %></button>    
            
                  <% else %>
                    <button class='btnLogin'><%= link_to "login", login_path, :method => 'get' %></button>
                  <% end %>
          <a href="javascript:void(0);" class="icon">
              <i class="fa fa-bars"></i>
            </a>
              <a href="/"><img src="https://res.cloudinary.com/de3gkfx0w/image/upload/v1676940436/virtually-yours-logo_xr08jw.png" alt="menu" class='menu-icon'></a>
                 <ul id="myLinks">
                    <li><a href="/">News</a></li>
                    <li><a href="/">Contact</a></li>
                    <li><a href="/">About</a></li>
                    <% if @current_admin.present? %>
                      <li><a href="/subscribers">Subscriptions</a></li>
                    <% end %>
                  </ul>
          </div>
          
        </nav>
      </header>

      <%= yield %>
    </div>
  </body>
</html>

<script>
icon = document.querySelector('.icon');
navLinks = document.querySelector('#myLinks');

icon.addEventListener('click', function() {
  navLinks.style.display = (navLinks.style.display === 'none') ? 'block' : 'none';
});
</script>